<form [formGroup]="appVideoGroup" (ngSubmit)="submitVideo()" method="post" >
  <fieldset>
    <label>Name</label>
  </fieldset>
  <fieldset>
    <input formControlName="name" type="text" >
  </fieldset>
  <fieldset>
    <label>Slug</label>
  </fieldset>
  <fieldset>
    <input formControlName="slug" type="text" >
  </fieldset>
  <fieldset>
    <label>Embed</label>
  </fieldset>
  <fieldset>
    <input formControlName="embed" type="text" >
  </fieldset>
  <button class="btn-success btn" type="submit" >add video</button>
</form>