<div class="col-sm-12">
  <carousel class="text-center" >
    <slide *ngFor=" let img of homeImages " >
      <a routerLink="videos/{{ img.slug }}" >
        <img class="main-img" src="{{ img.image }}" alt="First slide">
      </a>
    </slide>
  </carousel>
</div>