<p *ngIf="query" >
  Searched for: {{ query }}
</p>

<div *ngIf="video" >
  <div *ngFor=" let v of video " >
    {{ v.name }}
      <div>
        <iframe *ngIf="v.embed" width="100%" height="400" [src]="'https://www.youtube.com/embed/' + v.embed | sanitize" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>
</div>