<form #searchForm="ngForm" (ngSubmit)="submitSearch($event, searchForm)" class="navbar-form navbar-left">
  <div class="form-group">
    <input autocomplete="off" 
    [typeahead]="videoList"
    typeaheadOptionField="name" 
    name="q" [(ngModel)]="q" 
    type="text" 
    class="form-control" 
    placeholder="search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>