<div *ngIf="video" >
  {{ video.name }}
    <div>
      <iframe *ngIf="video.embed" width="100%" height="400" [src]="'https://www.youtube.com/embed/' + video.embed | sanitize:'resourceUrl'" frameborder="0" allowfullscreen></iframe>
    </div>
</div>